@media screen and (max-width:1024px) {
    header #top nav  {
        display: none;
    }
    
    /* header #top {
        height: 50%;
    } */
    /* main .subjects {
        display: none;
    } */
    main #art01 p {
        margin-right: 130px;
    }
    /* main #cardcontact {
        display: none;
    } */
    main #yr {
        width: 70%;
    }
    main #contact {
        width: 50%;
    }

   
}