@media screen and (max-width:480px) {
   
    main #imgcontainer {
        display: none;
    }
    main #yr {
        margin-right: 70px;
    }
    main #cardcontact {
        display: none;
    }
    main #image01 {
        display: none;
    }
    main #g {
        display: none;
    }
    main #art01 #prop {
       margin-right: 50px;
       width: 350px;
    }
   footer .box {
    display: none;
   }
   main #list {
    display: none;
   }
}