@media screen and (max-width:480px) {
   
    /* main #imgcontainer {
        display: none;
    } */
    main #yr {
       display: none;
    }
    main #cardcontact {
        display: none;
    }
    main #image01 {
        display: none;
    }
    /* main .slideshow-container{
        display: none;
    }
    main .dot-container{
        display: none;
    } */
    main #greet {
        display: none;
    }
    main #g {
        display: none;
    }
    main #art01 #prop {
       margin-right: 50px;
       width: 300px;
    }
   footer .box{
    display: none;
   }
   main #list {
    display: none;
   }
   /* header {
    display: none;
   } */
   main #followus #links{
    margin-right: 50px;
   }
}