#tools {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
#tools img {
    cursor: pointer;
}
#back {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
main #tools a{
    text-decoration: none;
    color: #ffffff;
    width: 150px;
    height: 35px;
    background-color: #214771;
    border: 1px solid white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}