body {
    margin: 0px;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
#art001 img {
    width: 100px;   
    height: 100px;
    margin: 20px;
}
#art001 {
    display: flex;
    justify-content: center;
}
button {
    margin:30px;
    background-color: red;
    width: 120px;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
}
#b {
    display: flex;
    justify-content: center;
}
#op {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 50px;
}
header {
    background-color: #214771;
    display: flex;
    margin: 0px auto;
    border-bottom: 1px solid lightcoral;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: center;
}
header img {
    width: 230px;
    height: 60px;
    margin: 20px;
}
#back {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
